<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clase_19_01_24"
        tools:targetApi="31">
        <activity
            android:name=".ejercicios.ResultadoEjercicio2Vector"
            android:exported="false" />
        <activity
            android:name=".ejercicios.Ejercicio3Vector2"
            android:exported="false" />
        <activity
            android:name=".ejercicios.Ejercicio2Vector"
            android:exported="false" />
        <activity
            android:name=".ejercicios.ResultadoActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.Ejercicio1UsuarioLogin"
            android:exported="false" />
        <activity
            android:name=".ejercicios.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>